<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>?????? ?????????</title>
</head>
<body>
<p th:text="${msg}"></p>

<!-- ?????????? ? ???????? -->
<div>
	<div>
		<label>???????? ????????: </label>
		<span th:text="${jobPost.postName}"></span>
	</div>
	<div>
		<label>?????????:</label>
		<span th:text="${jobPost.jobPosition.positionName}"></span>
	</div>
	<div>
		<label>???? ??????????: </label>
		<span th:text="${jobPost.postDate}"></span>
	</div>
	<div>
		<label>???? ??????: </label>
		<span th:text="${jobPost.dueDate}"></span>
	</div>
</div>
<!-- ????? ?????????? ? ???????? -->
<h3>???????? ?????? ?????????</h3>
<div>
	<form th:action="@{/saveApplicants}" method="post" encType="multipart/form-data" th:object="${jobPost}">
		<input type="hidden" name="id" th:field="*{postId}">
		<input type="text" placeholder="??????? ???" name="name" required/><br>
		<input type="email" placeholder="??????? email" name="email" required/><br>
		<input type="text" placeholder="??????? ???????" name="mobile" required/><br>
		<textarea rows="5" cols="24" name="address" required placeholder="??????? ?????"></textarea><br>
		<input type="text" placeholder="??????? ??????" name="link" required/><br>
		<textarea rows="5" cols="24" name="comment" placeholder="???????? ???????????" required></textarea><br>

		<input type="file" name="file" multiple required/>

		<br> <input type="submit" value="????????">
	</form>
</div>
</body>
</html>
